*{ margin: 0%;
    padding: 0%;
 }
 html{
     font-size: 62.5%;
 }


$primary:#ecb85c;



$colors: (
    primary:#ecb85c
);

@each $color, $value in $colors {
    .#{$color} {
        color: #{$value};
    }
}